
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 111px;
}
.searchDiv form{
    height: 45px;
    width: 30%;
    display: flex;
    gap: 12px;
}

.searchInput{
    width: 76%;
}
.searchBtn{
    width: 20%;
    background-color: #2E2D2E;
    color: white;
    cursor: pointer;
}

/* results section */
.resultDiv{
    background-color: white;
}